<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/logo.png">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>SBC Food</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/manoel.css" rel="stylesheet">
        <link href="/static/toastr-2.1.4.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/bootstrap-4.1.0/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="/static/bootstrap-4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"> -->
        <script src="/static/jquery-3.3.1.min.js"></script>
        <script src="/static/js/bootstrap-3.3.7.min.js"></script>
            <!-- Custom styles for this template -->
        <link href="static/manoel.css" rel="stylesheet">
        <link href="/static/emma.css" rel="stylesheet">
      {% if title %}
      <title>{{ title }} - SBC Food</title>
      {% else %}
      <title>Welcome to SBC Food</title>
      {% endif %}
    </head>
    <body style="background-color:#ccc">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top justify-content-between" style="background-color:#358525">
        <a class="navbar-brand" href="/">
                <img src="/static/logo.png" alt="SBC Food" height="40px" />
            </a>
            <ul class="navbar-nav mr-auto">
                <li>
        <a class="navbar-brand" href="/">SBC Food</a>
            </ul>
                &nbsp;&nbsp;<a style ="color:black; "href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;<a style ="color:black; "href="/shop_car">Carrinho</a>&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;<a style = "color:black;" href="/logout">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
        <hr>{% block content %}{% endblock %}</hr>
    </body>
</html>