<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/logo.png">

    <title>SBC Food</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap-4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4">

    <!-- Custom styles for this template -->
    <!-- <link href="/static/manoel.css" rel="stylesheet"> -->
    <link href="/static/toastr-2.1.4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body style="background-color:#ccc">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top justify-content-between" style="background-color:#358525">
      <a class="navbar-brand" href="/">
        <img src="/static/logo.png" alt="SBC Food" height="40px" />
      </a>
      <ul class="navbar-nav mr-auto">
          <li>
  <a class="navbar-brand" href="/">SBC Food</a>
      </ul>
          &nbsp;&nbsp;<a style="color:black;" href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>
    <main role="main">
    <form autocomplete="off" action = "/register" method = "POST">
    <div class="container">
      <div class="row"  align = "left">
        <div class="col">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
          <img border="0" src="/static/logo.png" width="300" height="300">
        </div>
        <div class="col">
    <div class="row"  align = "left">
<p><h3>Bem vindo ao SBC Food, faça seu cadastro:</h3></p>
</div>
<div class="row"  align = "left">
<div class="col">
    <br/>
    <br/>
    <br/>
          <h5 style="color: black">Nome:</h5>
          <p><input type = "text" name = "user" placeholder = "Nome completo"/></p>
          <h5 style="color: black">Senha:</h5>
          <p><input type = "password" id= "pass" name = "password" /></p>
          <h5 style="color: black">Telefone:</h5>
          <p><input type = "text" name = "telefone" placeholder = "Telefone"/></p>
          <h5 style="color: black">CPF (somente numeros):</h5>
          <p><input type = "text" name = "CPF" placeholder = "CPF"/></p>
          <h5 style="color: black">E-mail:</h5>
          <p><input type = "text" name = "email" placeholder = "E-mail"/></p>
          <h5 style="color: black">RG:</h5>
          <p><input type = "text" name = "RG" placeholder = "RG"/></p>
        </div>
        <div class="col">
            <br/>
            <br/>
            <br/>
            <h4  style="color: black">Endereço:</h4>
            <p><input type = "text" name = "rua" placeholder = "Rua"/></p>
            <br/>
            <p><input type = "text" name = "numero" placeholder="Número" /></p>
            <br/>
            <p><input type = "text" name = "bairro" placeholder = "Bairro"/></p>
            <br/>
            <p><input type = "text" name = "cidade" placeholder = "Cidade"/></p>
            <br/>
            <p><input type = "text" name = "estado" placeholder = "Estado"/></p>
            <br/>
            <p><input type = "text" name = "CEP" placeholder = "CEP"/></p>
        </div>
    </div>
    <p><input type = "submit" value = "Cadastrar" /></p> 
        </div>
      </div>
    </div> 
    </form>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/popper-1.12.9.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/static/bootstrap-4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"></script>
    <script src="/static/js/manoel.js"></script>
    <script src="/static/toastr-2.1.4.min.js"></script> 
  </body>
</html>